html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* End of CSS Reset */


/* Calculator styles */


/* Grid units */

.u1,
.u2,
.u3,
.u4 {
    float: left;
    margin: 3px;
}

.u1 {
    width: 40px;
}

.u2 {
    width: 86px;
}

.u3 {
    width: 132px;
}

.u4 {
    width: 178px;
}

.calculator {
    border-radius: 5px;
    box-shadow: inset 0px 1px #7b839b;
    background-color: #3C4150;
    border: 1px solid #181A20;
    float: left;
    padding: 6px;
    width: 184px;
}

.display {
    border-radius: 3px;
    box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
    box-sizing: border-box;
    background-color: #17181E;
    border: 1px solid #181A20;
    padding: 0 10px;
    text-align: right;
}

.display-text {
    color: #fff;
    font-size: 22px;
    line-height: 42px;
    overflow: hidden;
    unicode-bidi: embed;
    width: 1000px;
    float: right;
}

.display-inner {
    width: 156px;
    overflow: hidden;
}

.button {
    border-radius: 3px;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #181A20;
    color: #fff;
}

.button:active,
.button-active {
    position: relative;
    top: 1px;
}

.button:active,
.button:focus {
    outline: 0;
}


/* Mozilla fix */

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* Buttons styling exceptions */

.button-backspace {
    font-size: 17px;
    font-weight: normal;
}


/* Button skins */

.button-gray {
    box-shadow: inset 0px 1px #9498A3, 0 1px 1px #323643;
    background-color: #595E6B;
    background-image: linear-gradient(to bottom, #656976, #4B505E);
    background-repeat: repeat-x;
    text-shadow: 0px -1px #181A20;
}

.button-gray:hover {
    background-color: #666B78;
    background-image: linear-gradient(to bottom, #757985, #545867);
    background-repeat: repeat-x;
}

.button-gray.active,
.button-gray:active {
    box-shadow: inset 0 1px 1px #14171E, 0px 1px #5E6370;
    background-color: #292D3A;
    background-image: none;
}

.button-red {
    box-shadow: inset 0px 1px #CA9883, 0 1px 1px #323643;
    background-color: #965F48;
    background-image: linear-gradient(to bottom, #A46E57, #844D37);
    background-repeat: repeat-x;
    text-shadow: 0px -1px #58372A;
}

.button-red:hover {
    background-color: #A26B55;
    background-image: linear-gradient(to bottom, #B4806A, #915740);
    background-repeat: repeat-x;
}

.button-red.active,
.button-red:active {
    box-shadow: inset 0 1px 1px #2A130C, 0px 1px #5E6370;
    background-color: #472619;
    background-image: none;
}

.button-blue {
    box-shadow: inset 0px 1px #BCD6FF, 0 1px 1px #323643;
    background-color: #598FE9;
    background-image: linear-gradient(to bottom, #6DA1F8, #427BD8);
    background-repeat: repeat-x;
    text-shadow: 0px -1px #2C4E88;
}

.button-blue:hover {
    background-color: #6E9EED;
    background-image: linear-gradient(to bottom, #83B0FC, #578ADE);
    background-repeat: repeat-x;
}

.button-blue.active,
.button-blue:active {
    box-shadow: inset 0 1px 1px #0E192E, 0px 1px #5E6370;
    background-color: #1E3357;
    background-image: none;
}